<div>
  <ul>
    <li>
      <input [(ngModel)]="Req.url" />
    </li>
    <li>
      <input [(ngModel)]="Req.data" />
    </li>
    <li>
      <button (click)="addRequest()">Add</button>
    </li>
    <li>
      <button (click)="shootRequest()">Shoot</button>
    </li>
    <li>
      <button (click)="logError()">Log Error</button>
    </li>
    <li>
      <button (click)="logAll()">Log Pending</button>
    </li>
    <li>
      <button (click)="logSuccess()">Log Success</button>
    </li>
    <li>
      <button (click)="retryError()">Retry Error</button>
    </li>
    <li>
      <button (click)="setBufferToLocal()">Save Locally</button>
    </li>
    <li>
      <button (click)="setBufferFromLocal()">get from LS</button>
    </li>
  </ul>
</div>
